@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

html,
body,
:root {
  @apply h-full;
}

body[data-theme="light"] {
  @apply bg-11;
}

body[data-theme="dark"] {
  @apply bg-12;
}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-12;
  }
}
